<md-content layout-padding layout="column" flex>
    <mb-account-filter-bar></mb-account-filter-bar>
    <mb-account-order-bar></mb-account-order-bar>
    <mb-transition transition="transition" ng-repeat="transition in $ctrl.account.transitions"></mb-transition>
    <md-fab-speed-dial class="md-fab-bottom-right md-fling" md-direction="up">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
                <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                <md-icon md-svg-src="img/icons/twitter.svg" aria-label="Twitter"></md-icon>
            </md-button>
            <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                <md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
            </md-button>
            <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                <md-icon md-svg-src="img/icons/hangout.svg" aria-label="Google Hangout"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</md-content>