<div layout="row">
    <div flex="80">
        <div layout="column">
            <div flex="10">{{$ctrl.transition.date | date:'dd/MM/yyyy'}}</div>
            <div flex="80">
                <h1>{{$ctrl.transition.title}}</h1>
            </div>
            <div flex="10">{{$ctrl.transition.tags}}</div>
        </div>
    </div>
    <div flex="20">
        <div layout="column" layout-align="center center">
            <div flex="80">
                <h1>{{$ctrl.transition.balance | currency:'€':2}}</h1>
            </div>
            <div flex="20">
                <md-button>Edit</md-button>
                <md-button>Remove</md-button>
            </div>
        </div>
    </div>
</div>